.cartItemList {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItem .itemImage {
  width: 100px;
  height: 100px;
}

.cartItem .itemImage img {
  width: 100%;
  height: 100%;
}

.cartSummery {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}
