*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f6f6f6;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}